nextflow.enable.dsl=2


// nextflow.config


params {

    input = 'input.fastq'

    db = '/home/arpit'

    index_script = 'Index_calculation.sh'

    krona_script = 'arpit_made_krona_script.py'

}


process {

    withName:process_subsample {

        cpus = 140

        memory = '16 GB'

        time = '4h'

    }


    withName:process_nanofilt {

        cpus = 4

        memory = '8 GB'

        time = '2h'

    }


    withName:process_nanoplot {

        cpus = 120

        memory = '32 GB'

        time = '3h'

    }


    withName:process_emu {

        cpus = 140

        memory = '64 GB'

        time = '12h'

    }


    withName:process_index_calc {

        cpus = 2

        memory = '4 GB'

        time = '1h'

    }


    withName:process_krona {

        cpus = 4

        memory = '8 GB'

        time = '1h'

    }

}


executor {

    name = 'local'  // Change to 'slurm', 'pbs', 'gridengine' etc. for HPC

}

