manifesg {
	description = 'Nanopore 16S Pipeline' 
	author = 'Arpit Mathur, Vaibhav Gawde'
	nextflowVersion = '20.10.0'
}

params {
	input = "/home/arpit/nextflow_16s/new_pipeline/samplesheet.csv"
	sequences = "home/arpit/nextflow_16s/new_pipeline/sequences/"
	generate_krona = "/home/arpit/16S_nextflow/arpit_made_krona_script.py"
}

executor {
	cpus   = 25
}

trace {
	enabled = true
	file = './Final_Output/pipeline_trace.txt'
	fields = 'hash,task_id,name,status,exit,realtime,%cpu,rss'
}
