manifesg {
	description = 'Nanopore 16S Pipeline' 
	author = 'Arpit Mathur, Vaibhav Gawde'
	nextflowVersion = '20.10.0'
}

params {
	input = "/home/arpit/nextflow_16s/new_pipeline/samplesheet.csv"
	sequences = "home/arpit/nextflow_16s/new_pipeline/sequences/"
	generate_krona_tsv = "/home/arpit/nextflow_16s/new_pipeline/scripts/arpit_made_krona_script.py"
	generate_krona_plot = "/home/arpit/Krona/KronaTools/scripts/ImportText.pl"
	index_calc = "/home/arpit/nextflow_16s/new_pipeline/scripts/Index_calculation.sh"
	
}

executor {
	cpus   = 25
}

trace {
	enabled = true
	file = './Final_Output/pipeline_trace.txt'
	fields = 'hash,task_id,name,status,exit,realtime,%cpu,rss'
}
